ADMIN_USERNAME=admin-username
ADMIN_PASSWORD=admin-password
RCON_PASSWORD=rcon-password
RCON_PORT=27015
SERVER_NAME=server-name
MEMORY_XMX_GB=6
MEMORY_XMS_GB=2
UPDATE_ON_START=true
SERVER_BRANCH=unstable
PUID=your-UID
PGID=your-GID